body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #282626;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.1);
}

.history {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #737171;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(255, 0, 0, 0.1);
    text-align: right;
}

#display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 2px 5px rgba(255, 0, 0, 0.1);
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5%;
    background-color: #221957;
    color: #6da2de;
    cursor: pointer;
}

button:hover {
    background-color: #195a9c;
}

.erase {
    color: red;
}

.calculate {
    background-color: green;
    color: #fff;
    grid-column: span 2;
}

.symbol, .operator {
    color: green;
}

.casa {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
}